body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#root {
  background: #282828;
  color: #ffffff;
  height: 100vh;
  margin: 0;
}

.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 6em;
}

.noteItem {
  border: 1px solid #ffffff;
  border-radius: .3em;
  cursor: pointer;
  margin: 1em;
  padding: .5em;
  width: 45%;

  @media screen and (max-width: 600px) {
    width: 100%;

  }
}

.noteWindow {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.noteForm {
  display: flex;
  background: #282828;
  border-radius: .3em;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  width: 50%;
}

.noteForm {
  input {
    font-size: 1.5em;
    margin: .5em 0;
    padding: .5em;
    width: 100%;
  }

  textarea {
    font-size: 1.5em;
    margin: .5em 0;
    padding: .5em;
  }
}

.notesContainer {
  height: 100vh;
}


.openForm {
  border-radius: 25em !important;
  bottom: 5em;
  font-size: 1em;
  font-weight: bold;
  position: absolute !important;
  right: 5em;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.noteContent {
  height: 10em;
}


.noteForm {

  input,
  textarea {
    background: #282828;
    color: #ffffff;
    border: 0;
    font-family: inherit;
  }
}

.formFooter {
  display: flex;
  justify-content: space-around;

  button {
    background: #282828;
    border: 1px solid #ffffff;
    border-radius: .3em;
    color: #ffffff;
    font-size: inherit;
    padding: 1em;
    width: 40%;
  }
}


.header {
  background-color: #fbbc04;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .navTitle {
    margin: 0 1em;
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      span {
        display: none;
      }

      svg {
        font-size: 1.3em;
      }
    }
  }

  button {
    width: 5em;
    margin: 0 1em;
    padding: .5em;
    background: #ffffff;
    color: #fbbc04;
    border: 1px solid #ffffff;
    border-radius: .3em;

    svg {
      font-size: 1.5em;
    }

    @media screen and (max-width: 600px) {
      width: 3em;
    }
  }
}

.search {
  input {
    padding: .5em;
    margin: 1em 0;
    font-size: 1em;
    margin: .5em 0;
    border: 0;
    border-radius: .3em;

  }
}

.noteFooter {
  display: flex;
  justify-content: space-around;

  button {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: .3em;
    color: #ffffff;
    cursor: pointer;
    padding: .5em;
    width: 50%;
  }
}


.noteFooter {
  button {
    &:hover {
      font-weight: bold;
    }
  }
}

.noteHeader {
  display: flex;
  justify-content: space;

  button {
    background: #282828;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    color: #ffffff;
    padding: 1em;
    width: 40%;
  }

  .selected {
    font-weight: bold;
  }
}

.itemInput,
.newItemInput {
  display: flex;
  align-items: center;
  // height: 1;
  font-size: 1.5em;

  button {
    border: 0;
    // background: transparent;
    color: #ffffff;
  }

  input {
    margin: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    font-size: inherit;

  }
}

.newItemInput {
  padding-left: .8em;
}